PORT=3000
VERIFY_TOKEN=troque-para-um-token-secreto
WABA_API_VERSION=v20.0
WABA_PHONE_NUMBER_ID=SEU_PHONE_NUMBER_ID
WABA_ACCESS_TOKEN=SEU_LONG_LIVED_TOKEN
PRINT_AGENT_URL=http://IP_DO_PC_DO_GABINETE:7070/print
PRINT_AGENT_SECRET=meu-segredo
PRINTER_NAME=NomeDaImpressora

